<h1>Edit Trip</h1>
{{!-- looping through the errors and displaying validation messages: --}}
{{#each errors}}
    <h4>{{text}}</h4>
{{else}}
{{/each}}
<div class="card">
  <div class="card-content">
    <div class="row">
        <form class="col s12" method="post" action="/trips/{{trip.id}}?_method=PUT">
            <input type="hidden" name="_method" value="PUT">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Country" id="country" type="text" class="validate" name="country" value="{{trip.country}}" required>
              <label for="country">Country</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Description" id="description" type="text" class="validate" name="description" value="{{trip.description}}" required>
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              </button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>