<div style="margin-top:25px;">
{{#each trips}}
    <div class="row" style="margin:0;">
        <div class="col s12">
            <div class="card grey lighten-2" style="margin:0;">
                <div class="card-content black-text">
                    <a href="/trips/{{id}}/show"><span class="card-title">{{title}}</span></a>
                    <p>
                        <a href="#"><img class="circle" src="{{user.image}}" width="20px" height="20px"></a>
                        <a class="meta" href="#">{{user.firstName}} {{user.lastName}}'s</a> trip to <a href="#">{{destination.countryLong}}</a>
                        <time class="timestamp meta">{{formatDate date}}</time>
                    </p>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <h2>No Trips Posted!</h2>
{{/each}}
</div>